 <!--Begin Comment-->
 <div class="single-comment comments_wrap">
    <section id="comments">
       <div class="comments-inner clr">
          <div id="respond" class="comment-respond">
             <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
             <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
                <p class="comment-notes">
                    <span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
                </p>
                <p class="comment-form-comment">
                    <label for="comment">Comment</label> 
                    <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                </p>
                <div class="row">
                   <div class="comment-form-author col-sm-12 col-md-6">
                      <p>
                         <label for="author">Name*</label>
                         <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                      </p>
                   </div>
                   <div class="comment-form-email col-sm-12 col-md-6">
                      <p>
                         <label for="email">Email*</label>
                         <input id="email" name="email" type="email" value="" size="30" aria-required="true">
                      </p>
                   </div>
                </div>
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit btn btn-success btn-block" value="Post Comment">
                </p>
             </form>
          </div>
          <!-- #respond -->
       </div>
    </section>
</div>
<!--End Comment-->